*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    margin: 0 100px;
    background-color: #ffeae0;}
    /*=======MENU=======*/

    .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    }
    .nav .logo h1{
        font-weight: 600;
        font-family: sans-serif;
        color: #000000
        }
        .nav .logo b{
        color: #ff511c;
        }
        .nav ul{
        display: flex;
        list-style: none;}
        .nav ul li{
            margin-right: 30px;
            }
            .nav ul li a{
            text-decoration: none;
            color: #000000;
            font-weight: 500;
            font-family: sans-serif;
            font-size: 17px;
            }
  /*======ACTIVE=======*/
.nav ul .active::after{
content: '';
width: 50%;
height: 3px;
background-color: #ff511c;
display: flex;
position: relative;
margin-left: 10px;
}
/*============INPUT============ */
input{
padding: 10px 20px;
cursor: pointer;
font-weight: 600;}
.signin{
    background: transparent;
    border: none;
    }
    .signup{
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;}
    /* =======CONTENT===== */
.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    /* #Content TEXT"/
    /*=======LEFT-SIDE======= */
    .content .content-left{ display: block; width: 100%;
    }
    .content .content-left.info{ max-width: 100%; display: flex; flex-direction: column;
    }
    .content .content-left .info h2{
        font-size: 60px;
        font-family: sans-serif;
        margin-bottom: 30px;
        }
        .content .content-left .info p{
        font-size: 20px;
        line-height: 2pc;
        margin-bottom: 30px;
        font-family: sans-serif;}
        /* #Content */
    /*=======BUTTON===========*/
    .content .content-left button{
        padding: 10px 23px;
        background-color: #ff511c;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        cursor: pointer;}
    /* #Content IMAGE*/
    /*=======RIGHT SIDE======= */
    .content .content-right{
    display: block;
    width: 100%;
    }
    .content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;}
    /* #Content */
    /* ========ANIMATION====== */
    @keyframes rotate {
        0%{
        transform: rotate(0deg);
        }
        100%{
        transform: rotate(360deg);
        }
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-top:30px;
        margin-bottom:100px;
    }
    .product-image{
        width: 200%;
        height: 200px;
        object-fit: contain;
    }
    .product-card{
        width:250px;
        display: flex;
        flex-direction:column ;
        justify-content:center ;
        align-items: center;
        transition: 0.3s;
        position: relative;
    }
    @media(max-width: 768px) {
        .products{
            grid-template-columns: 1fr;
        }
        .left{
            display: none;
        }
    }
    @media(min-width: px){
        .menu{
            display: none;
        }
    }
    .options{
        display: flex;
        gap: 30px;
        margin-top:20px;
    }
    .price{
        color: green;
        font-weight: 400;
    }
    .option{
        font-size: 20px;
        border:1px solid black;
        width:40px;
        height:40px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s
    }
    .option:hover{
        background-color: rgb(235, 68, 68);
        color: rgb(56, 56, 56);
        transform: scale(1.15);
        cursor: pointer;
    }
    .product-card:hover{
        
        transform: scale(1.2);
        cursor: pointer;
    
    }
    form {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffeae0;
        border-radius: 5px;
      }
      
      .form-group {
        margin-bottom: 20px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      
      input[type="submit"] {
        background-color: #ff511c;
        color: white;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: #ff511c;
      }
      
      input[type="submit"]:focus {
        outline: none;
      }
      
      textarea {
        resize: vertical;
      } 